// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{margin:0px;padding:0px;}

#detail img {
    float: left; width: 100%; margin: 0; padding :0;

}

.selling_price { 

  font-size: 24px;
  font-weight: bold;
  line-height: 1em;
  padding: 15px;

}

#buy {

  position: fixed; 
  text-align:center;
  width: 95%;
  left: 0;
  z-index: 1;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  font-size: 18px;
  bottom: 10px;
  margin : 0 auto;
  right: 0;
  border-radius: 3px;
  background-color:yellow;

  a {
    text-decoration:none;
    hover:none;
    color:black;
    display:block; 
  }

}
