<div id="container">
  <div id="detail">
    <div id="buy_button_top">
  <%= image_tag (@product.id.to_s+'_1.png') %>
  <%= image_tag (@product.id.to_s+'_2.png') %>
  <%= image_tag (@product.id.to_s+'_3.png') %> 
  </div>
  <div id="buy">
  <%= link_to '바로 구매', :action => 'buy' %> </div>
</div>
